/* ADD CUSTOM CSS TO THE PAGE - THIS AFFECTS ALL DEVICES */
*#dm *.p_hfcontainer div.u_1571063569{
    background-color:rgba(0,0,0,0) !important}
    *#dm *.dmInner *.dmFooter:before{
    opacity:0.5 !important;
    background-color:rgb(255,255,255) !important}
    *#dm *.dmInner *.dmFooter.before{
    opacity:0.5 !important;
    background-color:rgb(255,255,255) !important}
    *#dm *.dmInner div.dmFooter:before{
    opacity:0.7 !important}
    *#dm *.dmInner div.dmFooter.before{
    opacity:0.7 !important}
    *#dm *.p_hfcontainer div.u_1284501632 ul.dmNavWrapper>li.navItemSelectedServer>a:hover *.navText{
    color:rgba(0,0,0,1) !important}
    *#dm *.p_hfcontainer div.u_1284501632 ul.dmNavWrapper>li.dmNavItemSelected>a:hover *.navItemText{
    color:rgba(0,0,0,1) !important}
    *#dm *.p_hfcontainer div.u_1284501632 ul.dmNavWrapper>li.navItemSelectedServer>a *.navText.hover{
    color:rgba(0,0,0,1) !important}
    *#dm *.p_hfcontainer div.u_1284501632 ul.dmNavWrapper>li.dmNavItemSelected>a *.navItemText.hover{
    color:rgba(0,0,0,1) !important}
    *#dm *.p_hfcontainer div.u_1284501632 ul.dmNavWrapper>li.navItemSelectedServer>a *.navText{
    color:rgba(58,58,58,1) !important}
    *#dm *.p_hfcontainer div.u_1284501632 ul.dmNavWrapper>li.dmNavItemSelected>a *.navItemText{
    color:rgba(58,58,58,1) !important}
    *#dm *.p_hfcontainer div.u_1284501632 ul.dmNavWrapper>li.dmNavItemSelected>*.navItemText{
    color:rgba(58,58,58,1) !important}
    *#dm *.p_hfcontainer div.u_1284501632 ul.dmNavWrapper>li>a *.navText{
    color:rgba(97,97,97,1) !important}
    *#dm *.p_hfcontainer div.u_1284501632 ul.dmNavWrapper>li>a *.navItemText{
    color:rgba(97,97,97,1) !important}
    *#dm *.p_hfcontainer div.u_1284501632 ul.dmNavWrapper>li>*.dmNavigation{
    color:rgba(97,97,97,1) !important}
    *#dm *.p_hfcontainer div.u_1284501632 li>ul.dmNavigation.dmn li>a:hover *.navText{
    color:rgba(247,247,247,1) !important}
    *#dm *.p_hfcontainer div.u_1284501632 li>ul.dmNavigation.dmn li>a:hover *.navItemText{
    color:rgba(247,247,247,1) !important}
    *#dm *.p_hfcontainer div.u_1284501632 li>ul.dmNavigation.dmn li>a *.navText.hover{
    color:rgba(247,247,247,1) !important}
    *#dm *.p_hfcontainer div.u_1284501632 li>ul.dmNavigation.dmn li>a *.navItemText.hover{
    color:rgba(247,247,247,1) !important}
    *#dm *.p_hfcontainer div.u_1284501632 li>ul.dmn{
    background-color:rgba(0,0,0,1) !important}
    *#dm *.p_hfcontainer div.u_1284501632 li>ul.dmNavigation.dmn li>a:hover{
    background-color:rgba(54,54,54,1) !important}
    *#dm *.p_hfcontainer div.u_1284501632 li>ul.dmNavigation.dmn li>a.hover{
    background-color:rgba(54,54,54,1) !important}
    *#dm *.p_hfcontainer *.u_1284501632.main-navigation.unifiednav:not(.unifiednav_vertical) *.unifiednav__container:not([data-depth])>*.unifiednav__item-wrap:not(:last-child)::before{
    font-size:18px !important}
    *#dm *.p_hfcontainer *.u_1284501632.main-navigation.unifiednav:not(.unifiednav_vertical) *.unifiednav__container:not([data-depth])>*.unifiednav__item-wrap:not(:last-child)::after{
    font-size:18px !important}
    *#dm *.p_hfcontainer div.u_dm-title{
    display:none !important}
    *#dm *.p_hfcontainer a.u_dm-logo-anchor{
    display:inline-block !important}
    *#dm *.p_hfcontainer div.u_logo-div{
    display:inline-block !important}
    *#dm *.dmInner *.fHeader *.dmHeader[freeheader="true"][data-scrollable-target].scroll-responder_set{
    padding-top:0 !important;
    padding-bottom:0 !important}
    *#dm *.dmInner *.dmHeader.scroll-responder_set *[data-widget-type="image"] img{
    width:66% !important}
    *#dm *.dmInner *.dmHeader.scroll-responder_set *[data-widget-type="image"]{
    height:auto !important}
    *#dm *.dmInner *.dmHeader.scroll-responder_set *.unifiednav *.middleLogoLink *.navLogo{
    width:66px !important;
    transition:width 0.3s linear !important}
    *#dm *.dmInner *.dmHeader *.unifiednav *.middleLogoLink *.navLogo{
    transition:width 0.3s linear !important}
    *#dm *.p_hfcontainer *.u_1284501632.main-navigation.unifiednav[data-nav-structure="SPLIT"] *.unifiednav__container:not([data-depth]) *:not(:last-of-type)>*.unifiednav__item-wrap *.unifiednav__container[data-depth="0"]{
    left:20px !important}
    *#dm *.p_hfcontainer *.u_1284501632.main-navigation.unifiednav[data-nav-structure="SPLIT"] *.unifiednav__container:not([data-depth]) *:last-of-type>*.unifiednav__item-wrap:not(:last-child) *.unifiednav__container[data-depth="0"]{
    left:20px !important}
    *#dm *.p_hfcontainer *.u_1284501632.main-navigation.unifiednav:not([image]) *.unifiednav__container[data-depth="0"]{
    top:calc(100% - 1px - 0px) !important}
    *#dm *.p_hfcontainer *.u_1284501632.main-navigation.unifiednav[data-nav-structure="HORIZONTAL"] *.unifiednav__container:not([data-depth])>*.unifiednav__item-wrap:not(:last-child) *.unifiednav__container[data-depth="0"]{
    left:20px !important}
    *#dm *.p_hfcontainer *.u_1284501632.main-navigation.unifiednav:not([data-nav-structure='VERTICAL']) *.unifiednav__container:not([data-depth])>*.unifiednav__item-wrap:not(:last-child)::before{
    color:rgba(217,214,214,1) !important}
    *#dm *.p_hfcontainer *.u_1284501632.main-navigation.unifiednav:not([data-nav-structure='VERTICAL']) *.unifiednav__container:not([data-depth])>*.unifiednav__item-wrap:not(:last-child)::after{
    color:rgba(217,214,214,1) !important}
    *#dm *.p_hfcontainer nav.u_1284501632.main-navigation.unifiednav *.unifiednav__container:not([data-depth])>*.unifiednav__item-wrap>*.unifiednav__item{
    color:rgba(160,160,160,1) !important;
    font-weight:normal !important}
    *#dm *.p_hfcontainer nav.u_1284501632.main-navigation.unifiednav{
    background-color:rgba(0,0,0,0) !important}
    *#dm *.p_hfcontainer nav.u_1284501632.main-navigation.unifiednav *.unifiednav__container[data-depth] *.unifiednav__item{
    color:rgba(0,0,0,1) !important}
    *#dm *.p_hfcontainer nav.u_1284501632.main-navigation.unifiednav *.unifiednav__container[data-depth] *.unifiednav__item:hover{
    background-color:rgba(97,97,97,1) !important;
    color:rgba(255,255,255,1) !important}
    *#dm *.p_hfcontainer nav.u_1284501632.main-navigation.unifiednav *.unifiednav__container[data-depth] *.unifiednav__item.hover{
    background-color:rgba(97,97,97,1) !important;
    color:rgba(255,255,255,1) !important}
    *#dm *.p_hfcontainer nav.u_1284501632.main-navigation.unifiednav *.unifiednav__container[data-depth] *.unifiednav__item.dmNavItemSelected{
    background-color:rgba(97,97,97,1) !important;
    color:rgba(255,255,255,1) !important}
    *#dm *.p_hfcontainer nav.u_1284501632.main-navigation.unifiednav:not([data-nav-structure="VERTICAL"]) *.unifiednav__container[data-depth]{
    box-shadow:rgba(0,0,0,0.25) 0 3px 11px 0 !important;
    -moz-box-shadow:rgba(0,0,0,0.25) 0 3px 11px 0 !important;
    -webkit-box-shadow:rgba(0,0,0,0.25) 0 3px 11px 0 !important}
    *#dm *.p_hfcontainer div#mobile-hamburger-drawer.layout-drawer{
    background-color:rgba(39,42,47,1) !important}
    *#dm *.p_hfcontainer div#mobile-hamburger-drawer.layout-drawer[open]{
    box-shadow:none !important;
    -moz-box-shadow:none !important;
    -webkit-box-shadow:none !important}
    *#dm *.p_hfcontainer *.u_1781644306.main-navigation.unifiednav[data-nav-structure='VERTICAL'] *.unifiednav__container:not([data-depth])>*.unifiednav__item-wrap::after{
    align-self:center !important}
    *#dm *.p_hfcontainer nav.u_1781644306.main-navigation.unifiednav *.unifiednav__container[data-depth]{
    background-color:rgba(0,0,0,0) !important}
    *#dm *.p_hfcontainer *.u_1781644306.main-navigation.unifiednav[data-nav-structure="SPLIT"] *.unifiednav__container:not([data-depth]) *:not(:last-of-type)>*.unifiednav__item-wrap *.unifiednav__container[data-depth="0"]{
    left:0 !important}
    *#dm *.p_hfcontainer *.u_1781644306.main-navigation.unifiednav[data-nav-structure="SPLIT"] *.unifiednav__container:not([data-depth]) *:last-of-type>*.unifiednav__item-wrap:not(:last-child) *.unifiednav__container[data-depth="0"]{
    left:0 !important}
    *#dm *.p_hfcontainer *.u_1781644306.main-navigation.unifiednav *.unifiednav__container:not([data-depth])>*.unifiednav__item-wrap>*.unifiednav__item{
    justify-content:center !important;
    text-align:center !important;
    padding-top:6px !important;
    padding-bottom:6px !important}
    *#dm *.p_hfcontainer *.u_1781644306.main-navigation.unifiednav:not([image]) *.unifiednav__container[data-depth="0"]{
    top:calc(100% - 6px - 0px) !important}
    *#dm *.p_hfcontainer *.u_1781644306.main-navigation.unifiednav[data-nav-structure="HORIZONTAL"] *.unifiednav__container:not([data-depth])>*.unifiednav__item-wrap:not(:last-child) *.unifiednav__container[data-depth="0"]{
    left:0 !important}
    *#dm *.p_hfcontainer *.u_1781644306.main-navigation.unifiednav:not([data-nav-structure='VERTICAL']) *.unifiednav__container:not([data-depth])>*.unifiednav__item-wrap:not(:last-child)::before{
    font-size:18px !important}
    *#dm *.p_hfcontainer *.u_1781644306.main-navigation.unifiednav:not([data-nav-structure='VERTICAL']) *.unifiednav__container:not([data-depth])>*.unifiednav__item-wrap:not(:last-child)::after{
    font-size:18px !important}
    *#dm *.p_hfcontainer *.u_1781644306.main-navigation.unifiednav *.unifiednav__container[data-depth] *.unifiednav__item{
    justify-content:center !important;
    padding-top:6px !important;
    padding-bottom:6px !important}
    *#dm *.p_hfcontainer nav.u_1781644306.main-navigation.unifiednav *.unifiednav__container:not([data-depth])>*.unifiednav__item-wrap>*.unifiednav__item{
    color:rgba(255,255,255,0.4) !important;
    font-weight:normal !important}
    *#dm *.p_hfcontainer nav.u_1781644306.main-navigation.unifiednav *.unifiednav__container[data-depth] *.unifiednav__item{
    color:rgba(255,255,255,0.4) !important;
    font-weight:normal !important}
    *#dm *.p_hfcontainer nav.u_1781644306.main-navigation.unifiednav *.unifiednav__container:not([data-depth])>*.unifiednav__item-wrap>*.unifiednav__item:hover{
    color:rgba(255,255,255,1) !important;
    font-weight:normal !important}
    *#dm *.p_hfcontainer nav.u_1781644306.main-navigation.unifiednav *.unifiednav__container:not([data-depth])>*.unifiednav__item-wrap>*.unifiednav__item.hover{
    color:rgba(255,255,255,1) !important;
    font-weight:normal !important}
    *#dm *.p_hfcontainer nav.u_1781644306.main-navigation.unifiednav *.unifiednav__container:not([data-depth])>*.unifiednav__item-wrap>*.unifiednav__item.dmNavItemSelected{
    color:rgba(255,255,255,1) !important;
    font-weight:normal !important}
    *#dm *.p_hfcontainer nav.u_1781644306.main-navigation.unifiednav *.unifiednav__container[data-depth] *.unifiednav__item:hover{
    background-color:rgba(0,0,0,0) !important;
    color:rgba(255,255,255,1) !important;
    font-weight:normal !important}
    *#dm *.p_hfcontainer nav.u_1781644306.main-navigation.unifiednav *.unifiednav__container[data-depth] *.unifiednav__item.hover{
    background-color:rgba(0,0,0,0) !important;
    color:rgba(255,255,255,1) !important;
    font-weight:normal !important}
    *#dm *.p_hfcontainer nav.u_1781644306.main-navigation.unifiednav *.unifiednav__container[data-depth] *.unifiednav__item.dmNavItemSelected{
    background-color:rgba(0,0,0,0) !important;
    color:rgba(255,255,255,1) !important;
    font-weight:normal !important}
    *#dm *.p_hfcontainer div.u_1958504072 *.mobileMultilingual *.language{
    color:rgba(102,102,102,1) !important}
    *#dm *.p_hfcontainer nav.u_1284501632.main-navigation.unifiednav *.unifiednav__container[data-depth]{
    background-color:rgba(217,214,214,1) !important}
    *#dm *.p_hfcontainer nav.u_1284501632.main-navigation.unifiednav *.unifiednav__container[data-depth]>*.unifiednav__item-wrap:not(:last-child)::after{
    border-top-width:0 !important}
    *#dm *.p_hfcontainer *.u_1284501632.main-navigation.unifiednav *.unifiednav__container:not([data-depth])>*.unifiednav__item-wrap>*.unifiednav__item{
    padding-left:20px !important;
    padding-right:20px !important}
    *.dmFlexboxWrapper *#siteSidebarSpacer{
    width:20% !important}
    *.hasGenericSidebar *.u_sideheader{
    width:20% !important}
    *.dmFlexboxWrapper *.u_sideheader{
    width:20% !important}
    *.hasGenericSidebar *#siteSidebarSpacer{
    width:20% !important}
    *#dm *.p_hfcontainer nav.u_1930323416.main-navigation.unifiednav *.unifiednav__container[data-depth]>*.unifiednav__item-wrap:not(:last-child)::after{
    border-top-width:0 !important}
    *#dm *.p_hfcontainer nav.u_1930323416.main-navigation.unifiednav *.unifiednav__container:not([data-depth])>*.unifiednav__item-wrap>*.unifiednav__item{
    color:rgba(176,176,176,1) !important}
    *#dm *.p_hfcontainer nav.u_1930323416.main-navigation.unifiednav *.unifiednav__container:not([data-depth])>*.unifiednav__item-wrap>*.unifiednav__item:hover{
    color:rgba(255,255,255,1) !important}
    *#dm *.p_hfcontainer nav.u_1930323416.main-navigation.unifiednav *.unifiednav__container:not([data-depth])>*.unifiednav__item-wrap>*.unifiednav__item.hover{
    color:rgba(255,255,255,1) !important}
    *#dm *.p_hfcontainer nav.u_1930323416.main-navigation.unifiednav *.unifiednav__container:not([data-depth])>*.unifiednav__item-wrap>*.unifiednav__item.dmNavItemSelected{
    color:rgba(255,255,255,1) !important}
    *#dm *.p_hfcontainer *.u_1930323416.main-navigation.unifiednav *.unifiednav__container:not([data-depth])>*.unifiednav__item-wrap>*.unifiednav__item{
    justify-content:center !important;
    text-align:center !important}
    *#dm *.p_hfcontainer *.u_1930323416.main-navigation.unifiednav[data-nav-structure='VERTICAL'] *.unifiednav__container:not([data-depth])>*.unifiednav__item-wrap::after{
    align-self:center !important}
    *#dm *.p_hfcontainer *.u_1930323416.main-navigation.unifiednav *.unifiednav__container[data-depth] *.unifiednav__item{
    justify-content:center !important}
    *#dm *.p_hfcontainer nav.u_1930323416.main-navigation.unifiednav *.unifiednav__container[data-depth] *.unifiednav__item{
    color:rgba(176,176,176,1) !important}
    *#dm *.p_hfcontainer nav.u_1930323416.main-navigation.unifiednav *.unifiednav__container[data-depth] *.unifiednav__item:hover{
    color:rgba(255,255,255,1) !important}
    *#dm *.p_hfcontainer nav.u_1930323416.main-navigation.unifiednav *.unifiednav__container[data-depth] *.unifiednav__item.hover{
    color:rgba(255,255,255,1) !important}
    *#dm *.p_hfcontainer nav.u_1930323416.main-navigation.unifiednav *.unifiednav__container[data-depth] *.unifiednav__item.dmNavItemSelected{
    color:rgba(255,255,255,1) !important}
    *#dm *.p_hfcontainer *.u_1930323416.main-navigation.unifiednav:not([data-nav-structure='VERTICAL']) *.unifiednav__container:not([data-depth])>*.unifiednav__item-wrap:not(:last-child)::before{
    font-size:16px !important}
    *#dm *.p_hfcontainer *.u_1930323416.main-navigation.unifiednav:not([data-nav-structure='VERTICAL']) *.unifiednav__container:not([data-depth])>*.unifiednav__item-wrap:not(:last-child)::after{
    font-size:16px !important}
    *#dm *.p_hfcontainer div.u_1729692127 *.desktopMultilingual *.language{
    color:rgba(255,255,255,1) !important}
    *#dm *.p_hfcontainer nav.u_1930323416{
    color:white !important}
    *#dm *.p_hfcontainer div.u_1089671779 hr{
    border-top-width:1px !important;
    border-top-style:solid !important;
    color:rgba(78,76,76,1) !important}
    *#dm *.p_hfcontainer div.sbcontainer{
    background-color:rgba(35,35,35,1) !important;
    box-shadow:none !important;
    -moz-box-shadow:none !important;
    -webkit-box-shadow:none !important}
    *#dm *.dmInner div.dmFooter{
    background-color:rgba(74,74,74,1) !important;
    color:black !important;
    background-repeat:no-repeat !important;
    background-image:none !important;
    background-size:cover !important}
    *#dm *.p_hfcontainer div.u_1428390751 img[dm_changed]{
    border-radius:0 !important;
    -moz-border-radius:0 !important;
    -webkit-border-radius:0 !important}
    *#dm *.p_hfcontainer div.u_1428390751 img{
    border-radius:0 !important;
    -moz-border-radius:0 !important;
    -webkit-border-radius:0 !important}
    *#dm *.dmInner div.u_hcontainer{
    background-color:rgba(35,35,35,1) !important;
    border-style:solid !important;
    border-width:0 !important}
    *#dm *.dmInner div.dmHeader.u_hcontainer{
    background-color:rgba(35,35,35,1) !important;
    border-style:solid !important;
    border-width:0 !important}
    *#dm *.dmInner div.dmHeader{
    background-color:rgba(35,35,35,1) !important;
    border-style:solid !important;
    border-width:0 !important}
    *#dm *.p_hfcontainer nav.u_1284501632.main-navigation.unifiednav.effect-bottom2 *.unifiednav__container:not([data-depth])>*.unifiednav__item-wrap>*.unifiednav__item *.nav-item-text::after{
    border-top-color:rgba(255,255,255,1) !important}
    *#dm *.p_hfcontainer nav.u_1284501632.main-navigation.unifiednav.effect-text-fill *.unifiednav__container:not([data-depth])>*.unifiednav__item-wrap>*.unifiednav__item *.nav-item-text::before{
    color:rgba(255,255,255,1) !important}
    *#dm *.p_hfcontainer nav.u_1284501632.main-navigation.unifiednav.effect-roll-over *.unifiednav__container:not([data-depth])>*.unifiednav__item-wrap>*.unifiednav__item *.nav-item-text::before{
    color:rgba(255,255,255,1) !important}
    *#dm *.p_hfcontainer *.u_1477956694{
    width:100% !important}
    *#dm *.p_hfcontainer *.u_undefined::after{
    margin-top:0 !important}
    *#dm *.p_hfcontainer *.u_1428390751{
    width:100% !important}
    *#dm *.p_hfcontainer *.u_1084736070{
    width:100% !important}