/* ADD CUSTOM CSS TO THE PAGE - THIS AFFECTS ALL DEVICES */
*#dm *.dmBody div.u_1692092040
{
	background-repeat:no-repeat !important;
	background-image:none !important;
	background-size:cover !important;
	background-color:rgba(0,0,0,0) !important;
	border-style:solid !important;
	border-width:0 !important;
}
*#dm *.dmBody *.u_1593800516
{
	width:100% !important;
}
*#dm *.dmBody div.u_Top
{
	background-color:rgba(0,0,0,0) !important;
	background-repeat:no-repeat !important;
	background-image:url(https://cdn.website-editor.net/md/and1/dms3rep/multi/119520.jpeg) !important;
}
*#dm *.dmBody *.u_Top:before
{
	opacity:0.5 !important;
	background-color:rgb(255,255,255) !important;
}
*#dm *.dmBody *.u_Top.before
{
	opacity:0.5 !important;
	background-color:rgb(255,255,255) !important;
}
*#dm *.dmBody *.u_Top>.bgExtraLayerOverlay
{
	opacity:0.5 !important;
	background-color:rgb(255,255,255) !important;
}
*#dm *.dmBody div.u_Top:before
{
	opacity:0.1 !important;
}
*#dm *.dmBody div.u_Top.before
{
	opacity:0.1 !important;
}
*#dm *.dmBody div.u_Top>.bgExtraLayerOverlay
{
	opacity:0.1 !important;
}
*#dm *.dmBody div.u_1300945190
{
	background-color:rgba(255,255,255,1) !important;
}
*#dm *.dmBody div.u_1582813525
{
	background-color:rgba(255,255,255,1) !important;
}
*.u_1320622300
{
	background-image:none !important;
	background-color:rgba(0,0,0,0) !important;
	background-position:0 0 !important;
	background-size:auto !important;
	background-repeat:repeat !important;
	padding-top:0 !important;
	padding-bottom:0 !important;
	padding-right:3.95312px !important;
	padding-left:3.95312px !important;
	margin:0 !important;
	text-align:center !important;
	color:rgb(0,0,0) !important;
}
*.u_1300945190
{
	background-image:none !important;
	background-color:rgb(255,255,255) !important;
	background-position:0 0 !important;
	background-size:auto !important;
	background-repeat:repeat !important;
	padding-top:0 !important;
	padding-bottom:0 !important;
	padding-right:0 !important;
	padding-left:0 !important;
	margin:0 !important;
	text-align:center !important;
	color:rgb(0,0,0) !important;
}
*.u_1713265926
{
	background-image:url(https://irt-cdn.multiscreensite.com/md/unsplash/dms3rep/multi/photo-1515974256630-babc85765b1d.jpg) !important;
	background-color:rgba(0,0,0,0) !important;
	background-position:50% 50% !important;
	background-size:cover !important;
	background-repeat:no-repeat !important;
	padding-top:0 !important;
	padding-bottom:0 !important;
	padding-right:0 !important;
	padding-left:0 !important;
	margin:0 !important;
	text-align:center !important;
	color:rgb(0,0,0) !important;
}
*.u_1325452427
{
	background-image:none !important;
	background-color:rgba(0,0,0,0) !important;
	background-position:0 0 !important;
	background-size:auto !important;
	background-repeat:repeat !important;
	padding-top:0 !important;
	padding-bottom:0 !important;
	padding-right:0 !important;
	padding-left:7.90625px !important;
	margin:0 !important;
	text-align:center !important;
	color:rgb(0,0,0) !important;
}
*.u_1582813525
{
	background-image:none !important;
	background-color:rgb(255,255,255) !important;
	background-position:0 0 !important;
	background-size:auto !important;
	background-repeat:repeat !important;
	padding-top:70px !important;
	padding-bottom:70px !important;
	padding-right:40px !important;
	padding-left:40px !important;
	margin:0 !important;
	text-align:center !important;
	color:rgb(0,0,0) !important;
}
*.u_1632291011
{
	background-image:none !important;
	background-color:rgba(0,0,0,0) !important;
	background-position:0 0 !important;
	background-size:auto !important;
	background-repeat:repeat !important;
	padding-top:0 !important;
	padding-bottom:0 !important;
	padding-right:3.95312px !important;
	padding-left:3.95312px !important;
	margin:0 !important;
	text-align:center !important;
	color:rgb(0,0,0) !important;
}
*.u_1077791386
{
	background-image:none !important;
	background-color:rgba(0,0,0,0) !important;
	background-position:0 0 !important;
	background-size:auto !important;
	background-repeat:repeat !important;
	padding-top:0 !important;
	padding-bottom:0 !important;
	padding-right:0 !important;
	padding-left:7.90625px !important;
	margin:0 !important;
	text-align:center !important;
	color:rgb(0,0,0) !important;
}
*#dm *.dmBody div.u_1713265926
{
	background-repeat:no-repeat !important;
	background-image:url(https://irt-cdn.multiscreensite.com/md/dmtmpl/dms3rep/multi/orange_thermostat.jpg) !important;
	background-size:cover !important;
}
*#dm *.dmBody div.u_1420003426
{
	line-height:normal !important;
}
*#dm *.dmBody div.u_1802336027
{
	background-color:rgba(255,255,255,1) !important;
}
*#dm *.dmBody a.u_1908052526 .iconBg
{
	display:none !important;
}
*#dm *.dmBody a.u_1908052526
{
	border-radius:50px !important;
	-moz-border-radius:50px !important;
	-webkit-border-radius:50px !important;
}
