/* ADD CUSTOM CSS TO THE PAGE - THIS AFFECTS ALL DEVICES */
*#dm *.dmBody h1.u_1655467952{
}
*#dm *.dmBody div.u_1070395634{
background-color:rgba(255,255,255,1) !important}
*#dm *.dmBody div.u_1987068206 hr{
color:rgba(255,255,255,1) !important;
background:none !important;
height:0 !important;
background-color:transparent !important;
background-size:initial !important;
min-height:0 !important;
border-color:currentColor !important;
border-width:1px !important;
border-top-style:solid !important}
*#dm *.dmBody div.u_1133322206{
background-color:rgba(150,172,208,1) !important}
*#dm *.dmBody div.u_1495356306 hr{
color:rgba(255,255,255,1) !important;
background:none !important;
height:0 !important;
background-color:transparent !important;
background-size:initial !important;
min-height:0 !important;
border-color:currentColor !important;
border-width:1px !important;
border-top-style:solid !important}
*#dm *.dmBody div.u_1443337831{
background-color:rgba(150,172,208,1) !important}
*#dm *.dmBody div.u_1722443813 hr{
color:rgba(255,255,255,1) !important;
background:none !important;
height:0 !important;
background-color:transparent !important;
background-size:initial !important;
min-height:0 !important;
border-color:currentColor !important;
border-width:1px !important;
border-top-style:solid !important}
*#dm *.dmBody div.u_1429765725{
background-color:rgba(150,172,208,1) !important}